{% extends 'base.html' %}
{% block content %}

<div id="contents">
    개요
    토기가 만들어지기 시작했던 시대로, 한반도는 신석기 시대이며, 농업은 아직 소규모인 수렵과 채집이 중심이었던 시대이다.

    토기의 겉면에 빗 같은 무늬새기개를 이용해 만든 기하학적인 무늬를 배합하여 각종 무늬를 그린 토기이다. 대체로 나무·뼈연장 또는 그것으로 만든 여러 가닥이 난 빗살모양의 무늬새기개를 가지고 그릇 바깥 면에
    짤막한 줄이 배게 누르거나 그어서 새긴 것을 빗살무늬라고 부른다. 이러한 빗살무늬는 질그릇에 따라 여러 모습을 나타내는데, 한국에서 가장 특징적인 것은 선·점선으로 된 짧은 줄을 한쪽 방향으로 또는 서로
    방향을 엇바꾸어가면서 그려서 그 모습이 생선뼈처럼 생긴 것이다.

    그릇 모양은 밑창이 달걀처럼 생긴 것과 밑이 납작하여 깊은 바리처럼 생긴 것이 대표적인데, 그릇 종류에는 독 모양이 큰 것을 비롯하여 항아리·단지·대접·보시기 등에 이르기까지 여러 가지가 있다.

    바탕흙에는 진흙에 모래만 섞은 것과 석면·활석부스러기 같은 것을 섞은 것이 있으며, 그릇 색깔은 여러 가지가 있지만 갈색이 기본을 이룬다. 대체로 섭씨 600~700℃의 열을 가하여 구운 것인데, 땅을 판
    구덩이에서 별다른 특별한 시설 없이 장작불을 피워 구운 것으로 생각된다.

    토기의 용도는 그 크기에 따라 각각 달랐을 것으로 추측하는데, 현재의 독과 같이 대형은 저장용, 중형은 취사용, 소형은 식기와 음식준비 과정에 각각 사용되었다고 생각된다. 이러한 빗살무늬그릇은 형태와 무늬가
    지역에 따라 다양한 차이를 보인다.

    역사
    초기, 전기, 중기, 후기로 구분한다.

    초기
    초기는 기원전 8000년에서 기원전 6000년경까지 이른다. 초기의 토기로서는 남부에서 덧무늬토기(隆起紋土器, 융기문토기)가 발견되고 있다. 이것은 겉면에 진흙띠를 덧대어 붙이거나 겉면을 맞집어 돋게하여
    무늬를 만든 것이다.

</div>

{% endblock %}